.course:last-child {
  border-bottom: none !important;
  margin-bottom: 16px;
}

.course:hover {
  color: #007bbd !important;
  background: #f7f8fb !important;
}

/*************** Spinner ************************/

.animation-0 {
  animation: a0_t 4.933s linear infinite both;
}

.animation-1 {
  animation: a1_t 4.933s linear infinite both, a1_da 4.933s linear infinite both,
    a1_do 4.933s linear infinite both;
}

/***********************Animations*****************/
@keyframes a0_t {
  0% {
    transform: translate(12px, 12px) rotate(0deg) translate(-10.5px, -10.5px);
  }
  to {
    transform: translate(12px, 12px) rotate(-359.975678deg)
      translate(-10.5px, -10.5px);
  }
}
@keyframes a1_t {
  0%,
  25.0219%,
  50.0236%,
  75.0253% {
    transform: translate(10.5px, 10.5px) rotate(0deg);
  }
  25.0016%,
  50.0033%,
  75.005% {
    transform: translate(10.5px, 10.5px) rotate(430deg);
    animation-timing-function: steps(1);
  }
  to {
    transform: translate(10.5px, 10.5px) rotate(429.883736deg);
  }
}

/* EXTRA ANIMATIONS */
@keyframes a1_da {
  0%,
  25.022%,
  50.0236%,
  75.0253% {
    stroke-dasharray: 2px 65.56px;
    animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  }
  33.1103%,
  58.112%,
  8.1087%,
  83.1137% {
    stroke-dasharray: 55px 65.56px;
  }
  10.8115%,
  35.8132%,
  60.8149%,
  85.8166% {
    stroke-dasharray: 55px 65.56px;
    animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  }
  22.9745%,
  47.9762%,
  72.9779%,
  97.9796%,
  to {
    stroke-dasharray: 2px 65.56px;
  }
  25.0017%,
  50.0034%,
  75.0051% {
    stroke-dasharray: 2px 65.56px;
    animation-timing-function: steps(1);
  }
}
@keyframes a1_do {
  0%,
  25.022%,
  50.0236%,
  75.0253% {
    stroke-dashoffset: 0;
  }
  10.8115%,
  35.8132%,
  60.8149%,
  85.8166% {
    stroke-dashoffset: 0;
    animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  }
  22.9745%,
  47.9762%,
  72.9779%,
  97.9796%,
  to {
    stroke-dashoffset: -53px;
  }
  25.0017%,
  50.0034%,
  75.0051% {
    stroke-dashoffset: -53px;
    animation-timing-function: steps(1);
  }
}
